<h1> Advanced Search </h1>

<%= form_for @find do |f| %>
		<div class = "field">
			<%= f.label :first_name %><br />
			<%= f.text_field :first_name %>
		</div>

		<div class = "field">
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
		</div>

		<div class = "action"><%= f.submit "Find" %></div>

<% end %>
