
<div style="background-color: white;">
<p id="notice"><%= notice %></p>

<% unless @profile.avatar_url.nil? %><%= image_tag @profile.avatar_url(:display) %><br /><% end %>
<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Resume:</strong>
  <%= simple_format(@profile.resume) %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @profile.skill %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>
