<!-- EDIT USER -->
<div style="background-color: white;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="edit_account">

    <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>

    <%= f.email_field :email, class: 'current-email', required: true, autofocus: true, :placeholder => "Current email" %>
    <%= f.password_field :password, class: 'new-pass', required: true, autofocus: false, :placeholder => "New password"%>
    <%= f.password_field :password_confirmation, class: 'pass-conf', required: true, autofocus: false,
          :placeholder => "Confirm password" %>
    <%= f.password_field :current_password, class: 'old-pass', required: true, autofocus: false, :placeholder =>
          "Current password" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

  </div>

  <div class="update_account">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Home", :back %>
</div>
