<!DOCTYPE html>
<html>
<body>
<div id="resize_signup">
<div style="background-color: ;">
<!-- SIGN UP HEADER -->
<div class="sign_up", style="text-align:center;">
<h2><big><b>Sign up now...</b></big></h2>
  <div id="its_free", style="text-align:center;">
    <h2><big><b>It's FREE!</b></big></h2>
  </div>
</div>
<!-- END SIGN UP HEADER -->

<!-- WIR3D LOGO -->
<div class="wir3d-image">
  <img src="/assets/WIR3D_3png.png" class="company logo" alt="WIR3D">
</div>
<!-- END WIR3D LOGO -->

<!-- INPUT FORM -->
<div class=“information”>
   <div class=“text_form”>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name))do |f| %>
     <%= f.text_field :first_name, class: 'form-control', :placeholder => "First name" %>
     <%= f.text_field :last_name, class: 'form-control', :placeholder => "Last name" %>
     <%= f.email_field :email, required: true, class: 'form-control', :placeholder => "Email" %>
     <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control', :placeholder => "Password" %>
     <%= f.password_field :password_confirmation, required: true, :placeholder => "Re-enter password", class: 'form-control' %>
    <div class="premium">
     <%= f.label :Sign_up_for_premium_account %>
    <div id="check_box">
     <%= f.check_box :premium %>
   </div>
 </div>
 <br>
 <%= f.submit "Create my account", class: "btn btn-primary" %>

 <div class="sign_in_container">
 <!-- Already signed in? -->
 <p class="logged_in">Already have an account?</p>
 <!-- Login -->
 <%= render "devise/shared/links" %>
 <% end %>
</div>
 <br>
    </div>
</div>
<!-- END INPUT FORM -->

</div>
</div>


</body>
</html>
