<div class="col-sm-6 col-md-offset-3">
 <% if current_user.premium  %>
  <h1 align="center">Your Jobs</h1>
  <p><%= link_to 'All Jobs', jobs_indexall_path %> </p>
  <p><%= link_to 'Search Jobs', new_search_path %> </p>
  <br>
  <% @user = current_user %>
  <% @user.jobs.each do |a| %>
  <div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
    <h2 style="background-color: #F0F8FF;">
      <%= link_to a.company, job_path(a) %></h2>
    <div id="jobtitle" style="background-color: white;">
      <h6> Job Title </h6>
      <div style="border: solid 1px; height: 50px" >
        <%= a.title %>
      </div>
      <h6> Description </h6>
      <div style="border: solid 1px; height: 80px">
        <%= a.description %>
      </div>
      <%= link_to like_job_path(a), method: :put do%>
      Upvote
      <%= a.get_upvotes.size %>

      <% end %>
      </div>
      </div>
      <%end %>
      <% end %>


<% if !current_user.premium %>
  <h1 align="center" >Liked Jobs</h1>
  <p><%= link_to 'All Jobs', jobs_indexall_path %> </p>
      <p><%= link_to 'Search Jobs', new_search_path %> </p>
      <% @user.find_voted_items.each do |a| %>
      <div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
        <h2 style="background-color: #F0F8FF;">
          <%= a.company%></h2>
        <div id="jobtitle" style="background-color: white;">
          <h6> Job Title </h6>
          <div style="border: solid 1px; height: 50px" >
            <%= a.title %>
          </div>
          <h6> Description </h6>
          <div style="border: solid 1px; height: 80px">
            <%= a.description %>
          </div>
          <%= link_to like_job_path(a), method: :put do%>
          Upvote
          <%= a.get_upvotes.size %>

          <% end %>
          </div>
          </div>
          <%end %>
          <% end %>
        </div>
