<p id="notice"><%= notice %></p>

<div style="background-color: white;">
<p>
  <strong><%= @job.title %></strong>
</p>
<table style="width:100%; border-collapse: separate; border-spacing: 0px 10px">
  <thead style="font-size: 20px; border: 1px solid black">
    <tr>
      <th>Candidate Name</th>
      <th>Occupation</th>
      <th>Resume</th>

      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    <% @job.votes_for.up.by_type(User).voters.each do |user| %>
      <tr>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= user.profile.occupation %></td>

        <td><%= link_to 'Show', user.profile.resume %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
</div>
