

<div class="row">

    <div class="row" >

        <div class="col-md-8 col-md-offset-2" style="background-color: #F0F8FF">
          <% if current_user.id == @user.id %>
           <% if !flash[:notice].blank? %>
            <div>
               <%= flash[:notice] %>
            </div>
          <% end %>
        <div class="col-md-3">
        <% unless @user.profile.avatar_url.nil? %>
         <img src="<%=@user.profile.avatar_url(:card)%>">
            <% else %>
        <img src="/assets/defaultprofile" height=150px width=150px>
         <% end %>
         <% if current_user.id == @user.id %>
                <p><a href="<%=edit_user_path(@user.id)%>" >Edit Bio</a></p>
            <% end %>
        </div>
            <div class="col-md-9">
              <%= if
        current_user.friendships.where(:friend_id => @user.id).where(:user_id => current_user.id).empty? and !(@user == current_user)
        link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post
     end %>
                <br>
                <br>
                <h1><%=@user.first_name+ " " + @user.last_name%></h1>
                <br>
                <p><%=@user.bio%></p>
             </div>
        </div>
     </div>

     <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background-color: white">
        <% if current_user.id == @user.id %>
            <p><%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %></p>
        <% end %>
        <h3> Education </h3>
            <p><%=@user.profile.education%></p>
            <h3> Skills</h3>
            <p><%=@user.profile.skill%></p>
            <h3> Resume </h3>

             <br />

            <%= link_to "New Resume", new_resume_path, class: "btn btn-info" %>
            <br />
            <br />
            <%end%>
            <%if !@resumes.empty?%>
            <table class = "table table-bordered table-striped">
                <thead>.
                <tr>
                 <th>Resume Name</th>
                <th>Download Link</th>
                <% if current_user.id == @user.id %>
                <th> </th>
                <%end%>
                </tr>
                </thead>

                <tbody>
                 <% @resumes.each do |resume| %>

                    <tr>
                        <td><%= resume.name %></td>
                        <td><%= link_to "Download Resume", resume.attachment_url %></td>
                        <% if current_user.id == @user.id %>
                        <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
                        <%end%>
                    </tr>

                <% end %>
                </tbody>

            </table>



            <% end -%>
        </div>
     </div>


</div>
