<% if a.trackable %>
<% if
!(user.friendships.where(:friend_id => a.trackable.user_id).where(:user_id => user.id).empty?) or user.id==a.trackable.user_id%>

<div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
    <h5 style="background-color: #F0F8FF;">
      <%= image_tag User.find(a.trackable.user_id).profile.avatar_url(:thumbnail) %>
      <%= User.find(a.trackable.user_id).first_name + " " + User.find(a.trackable.user_id).last_name %></h5>
<div id="jobtitle" style="background-color: white;">
  <h3><%= a.trackable.status%></h3>
  <br>
  <br>
  Posted <%= time_ago_in_words(a.created_at) %> ago
  <br>
<% if user.id==a.trackable.user_id %>
<td><%= link_to 'Destroy', a.trackable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</div>
</div> <% end %>
<% end %>
