<p id="notice"><%= notice %></p>
<div style="background-color: white;">
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <% unless @company.avatar_url.nil? %><%= image_tag @company.avatar_url(:display) %><br /><% end %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
</div>
