
<% if @current_user.premium && a.trackable %>
<div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
  <h2 style="background-color: #F0F8FF;">
    <%= link_to a.trackable.company, job_path(a.trackable) %>
    </h2>

<div id="jobtitle" style="background-color: white;">
  <h6 style="font-size:15px"> Job Title </h6>
    <div style="border: solid 1px; height: 50px" >
      <%= a.trackable.title %>
    </div>
    <h6 style="font-size:15px"> Description </h6>
    <div style="border: solid 1px; height: 80px">
      <%= a.trackable.description %>
    </div>

<div>
<%= link_to like_job_path(a.trackable),
   method: :put do%>
   Upvote
   <%= a.trackable.get_upvotes.size %>
<% end %>
<button type="button" class="btn btn-link"
id = "jobbox" onclick="myFunction()">Skip</button>
<script>
function myFunction() {
  $('#jobbox').remove();
    //document.getElementById("jobbox").style.display='none';
}
</script>
</div>
</div>
<%end%>



<% if !@current_user.premium && a.trackable %>
<div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
  <h2 style="background-color: #F0F8FF;font-size:30px">
    <%= a.trackable.company %>
    </h2>

<div id="jobtitle" style="background-color: white;color: rose pink;">
  <h6 style="font-size:15px"> Job Title </h6>
    <div style="border: solid 1px; height: 50px" >
      <%= a.trackable.title %>
    </div>
    <h6 style="font-size:15px"> Description </h6>
    <div style="border: solid 1px; height: 80px">
      <%= a.trackable.description %>
    </div>

<div>
<%= link_to like_job_path(a.trackable),
   method: :put do%>
   Upvote
   <%= a.trackable.get_upvotes.size %>
<% end %>
<button type="button" class="btn btn-link"
id = "jobbox" onclick="myFunction()">Skip</button>
<script>
function myFunction() {
  $('#jobbox').remove();
    //document.getElementById("jobbox").style.display='none';
}
</script>
</div>
</div>
<%end%>
</div>
