<% if a.trackable %>
<div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
    <h2 style="background-color: #F0F8FF;">
      <%= link_to a.trackable.company, job_path(a.trackable) %></h2>
<div id="jobtitle" style="background-color: white;">
  <h6> Job Title </h6>
    <h4 style="border: solid 1px; height: 50px" ><%= a.trackable.title %>
    </h4>
    <h6> Description </h6>
    <div style="border: solid 1px; height: 80px">
      <%= a.trackable.description %>
    </div>

<div>
<%= link_to like_job_path(a.trackable),
   method: :put do%>
   Upvote
   <%= a.trackable.get_upvotes.size %>
<% end %>
<button type="button" class="btn btn-link"
id = "jobbox" onclick="myFunction()">Hide</button>
<script>
function myFunction() {
  $('#jobbox').remove();
    //document.getElementById("jobbox").style.display='none';
}
</script>
</div>
<% else %>

</div>

</div>
<% end %>
