<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div>
  <div class="container">
    <div class="row">
      <div class="sign-up-wired">
          <div id="wrapper">
            <img src="/assets/WIR3D_3png.png" class="company logo" alt="WIR3D">
          </div>
      </div>
    <div class="col-sm-8">
        <h1>Sign in</h1>
      <div id="login">
        <form class="form-inline" >
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>
        <%= f.email_field :email, required: true, autofocus: true, :placeholder => "ex: kitomamcamboi@gmail.com" %>
        <%= f.password_field :password, required: true, :placeholder => "Password" %>

        <div class="form-actions">
          <%= f.button :submit, "Sign in" %>
        </div>

        <!-- DON'T HAVE ACCOUNT? -->
        <div class="create_acc">
          <h4>Don't have an account?</h4>
        </div>
        <!-- /DON'T HAVE ACCOUNT? -->

        <div class="render">
          <%= render "devise/shared/links" %>
        </div>

        </form>

      </div>
    </div>
    </div>
  </div>

</div>
<% end %>
