<h1> Advanced Search </h1>

<%= form_for @search do |f| %>
		<div class = "field">
			<%= f.text_field :company, :placeholder => 'Company name' %>
		</div>

		<div class = "field">
			<%= f.text_field :title, :placeholder => 'Job title'%>
		</div>

		<div class = "field">
			<%= f.text_field :description, :placeholder => 'Job description' %>
		</div>

		<div class = "action"><%= f.submit "Search" %></div>

<% end %>