<h1> Search Results <h1>

<p><%= link_to 'Back', new_search_path %> </p>

<% if @search.find_jobs.empty? %>

	<p> No Records Found </p>

<% else %>

	<% @search.find_jobs.each do |c| %>
	<br>
<a href="/jobs/<%=c.id%>"
	<div class ="div">
		<h2> <%= c.title %> </h2>
		<h4><%= c.company %> </h4>
		<%= c.description %>

	</div>
</a>
	<% end %>

	<% end %>
