<h1> Search Results <h1>

<p><%= link_to 'Back', new_search_path %> </p>

<% if @search.find_jobs.empty? %>

	<p> No Records Found </p>

<% else %>
<div class="col-sm-6 col-md-offset-3">
	<% @search.find_jobs.each do |a| %>
	<br>

		<div id="jobbox" style="background-color:#F0F8FF; margin-bottom: 15px;">
		  <h2 style="background-color: #F0F8FF;">
		    <%= link_to a.company, job_path(a) %></h2>
		  <div id="jobtitle" style="background-color: white;">
		    <h6> Job Title </h6>
		    <div style="border: solid 1px; height: 50px" >
		      <h5><%= a.title %></h5>
		    </div>
		    <h6> Description </h6>
		    <div style="border: solid 1px; height: 80px">
		      <h5><%= a.description %></h5>
		    </div>
		    <%= link_to like_job_path(a), method: :put do%>
		    <h5>Like
		    <%= a.get_upvotes.size %><button type="button" class="btn btn-link"
				id = "jobbox" onclick="myFunction()">Skip</button>
				<script>
				function myFunction() {
				  $('#jobbox').remove();
				    //document.getElementById("jobbox").style.display='none';
				}
				</script></h5>

		    <% end %>
		    </div>
		    </div>
<% end %>
	</div>

	<% end %>
